<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ecard.dao.DiseaseMasterMapper" >
  <resultMap id="BaseResultMap" type="com.ecard.entity.DiseaseMaster" >
    <id column="DNo" property="DNo" jdbcType="BIGINT" />
    <result column="IcdCode" property="icdCode" jdbcType="VARCHAR" />
    <result column="EngName" property="engName" jdbcType="VARCHAR" />
    <result column="ChtName" property="chtName" jdbcType="VARCHAR" />
    <result column="ChtType" property="chtType" jdbcType="VARCHAR" />
    <result column="ReportType" property="reportType" jdbcType="VARCHAR" />
    <result column="Remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="Keyword1" property="keyword1" jdbcType="VARCHAR" />
    <result column="Keyword2" property="keyword2" jdbcType="VARCHAR" />
    <result column="Keyword3" property="keyword3" jdbcType="VARCHAR" />
    <result column="DisableFlag" property="disableFlag" jdbcType="INTEGER" />
    <result column="ApiCode" property="apiCode" jdbcType="VARCHAR" />
    <result column="CreateUser" property="createUser" jdbcType="BIGINT" />
    <result column="CreateTime" property="createTime" jdbcType="TIMESTAMP" />
    <result column="UpdateUser" property="updateUser" jdbcType="BIGINT" />
    <result column="UpdateTime" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="Version" property="version" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    DNo, IcdCode, EngName, ChtName, ChtType, ReportType, Remarks, Keyword1, Keyword2, 
    Keyword3, DisableFlag, ApiCode, CreateUser, CreateTime, UpdateUser, UpdateTime, Version
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from diseasemaster
    where DNo = #{DNo,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from diseasemaster
    where DNo = #{DNo,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.ecard.entity.DiseaseMaster" >
    insert into diseasemaster (DNo, IcdCode, EngName, 
      ChtName, ChtType, ReportType, 
      Remarks, Keyword1, Keyword2, 
      Keyword3, DisableFlag, ApiCode, 
      CreateUser, CreateTime, UpdateUser, 
      UpdateTime, Version)
    values (#{DNo,jdbcType=BIGINT}, #{icdCode,jdbcType=VARCHAR}, #{engName,jdbcType=VARCHAR}, 
      #{chtName,jdbcType=VARCHAR}, #{chtType,jdbcType=VARCHAR}, #{reportType,jdbcType=VARCHAR}, 
      #{remarks,jdbcType=VARCHAR}, #{keyword1,jdbcType=VARCHAR}, #{keyword2,jdbcType=VARCHAR}, 
      #{keyword3,jdbcType=VARCHAR}, #{disableFlag,jdbcType=INTEGER}, #{apiCode,jdbcType=VARCHAR}, 
      #{createUser,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, #{updateUser,jdbcType=BIGINT}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{version,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.ecard.entity.DiseaseMaster" >
    insert into diseasemaster
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="DNo != null" >
        DNo,
      </if>
      <if test="icdCode != null" >
        IcdCode,
      </if>
      <if test="engName != null" >
        EngName,
      </if>
      <if test="chtName != null" >
        ChtName,
      </if>
      <if test="chtType != null" >
        ChtType,
      </if>
      <if test="reportType != null" >
        ReportType,
      </if>
      <if test="remarks != null" >
        Remarks,
      </if>
      <if test="keyword1 != null" >
        Keyword1,
      </if>
      <if test="keyword2 != null" >
        Keyword2,
      </if>
      <if test="keyword3 != null" >
        Keyword3,
      </if>
      <if test="disableFlag != null" >
        DisableFlag,
      </if>
      <if test="apiCode != null" >
        ApiCode,
      </if>
      <if test="createUser != null" >
        CreateUser,
      </if>
      <if test="createTime != null" >
        CreateTime,
      </if>
      <if test="updateUser != null" >
        UpdateUser,
      </if>
      <if test="updateTime != null" >
        UpdateTime,
      </if>
      <if test="version != null" >
        Version,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="DNo != null" >
        #{DNo,jdbcType=BIGINT},
      </if>
      <if test="icdCode != null" >
        #{icdCode,jdbcType=VARCHAR},
      </if>
      <if test="engName != null" >
        #{engName,jdbcType=VARCHAR},
      </if>
      <if test="chtName != null" >
        #{chtName,jdbcType=VARCHAR},
      </if>
      <if test="chtType != null" >
        #{chtType,jdbcType=VARCHAR},
      </if>
      <if test="reportType != null" >
        #{reportType,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="keyword1 != null" >
        #{keyword1,jdbcType=VARCHAR},
      </if>
      <if test="keyword2 != null" >
        #{keyword2,jdbcType=VARCHAR},
      </if>
      <if test="keyword3 != null" >
        #{keyword3,jdbcType=VARCHAR},
      </if>
      <if test="disableFlag != null" >
        #{disableFlag,jdbcType=INTEGER},
      </if>
      <if test="apiCode != null" >
        #{apiCode,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null" >
        #{updateUser,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null" >
        #{version,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ecard.entity.DiseaseMaster" >
    update diseasemaster
    <set >
      <if test="icdCode != null" >
        IcdCode = #{icdCode,jdbcType=VARCHAR},
      </if>
      <if test="engName != null" >
        EngName = #{engName,jdbcType=VARCHAR},
      </if>
      <if test="chtName != null" >
        ChtName = #{chtName,jdbcType=VARCHAR},
      </if>
      <if test="chtType != null" >
        ChtType = #{chtType,jdbcType=VARCHAR},
      </if>
      <if test="reportType != null" >
        ReportType = #{reportType,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null" >
        Remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="keyword1 != null" >
        Keyword1 = #{keyword1,jdbcType=VARCHAR},
      </if>
      <if test="keyword2 != null" >
        Keyword2 = #{keyword2,jdbcType=VARCHAR},
      </if>
      <if test="keyword3 != null" >
        Keyword3 = #{keyword3,jdbcType=VARCHAR},
      </if>
      <if test="disableFlag != null" >
        DisableFlag = #{disableFlag,jdbcType=INTEGER},
      </if>
      <if test="apiCode != null" >
        ApiCode = #{apiCode,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null" >
        CreateUser = #{createUser,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        CreateTime = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null" >
        UpdateUser = #{updateUser,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null" >
        UpdateTime = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null" >
        Version = #{version,jdbcType=INTEGER},
      </if>
    </set>
    where DNo = #{DNo,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ecard.entity.DiseaseMaster" >
    update diseasemaster
    set IcdCode = #{icdCode,jdbcType=VARCHAR},
      EngName = #{engName,jdbcType=VARCHAR},
      ChtName = #{chtName,jdbcType=VARCHAR},
      ChtType = #{chtType,jdbcType=VARCHAR},
      ReportType = #{reportType,jdbcType=VARCHAR},
      Remarks = #{remarks,jdbcType=VARCHAR},
      Keyword1 = #{keyword1,jdbcType=VARCHAR},
      Keyword2 = #{keyword2,jdbcType=VARCHAR},
      Keyword3 = #{keyword3,jdbcType=VARCHAR},
      DisableFlag = #{disableFlag,jdbcType=INTEGER},
      ApiCode = #{apiCode,jdbcType=VARCHAR},
      CreateUser = #{createUser,jdbcType=BIGINT},
      CreateTime = #{createTime,jdbcType=TIMESTAMP},
      UpdateUser = #{updateUser,jdbcType=BIGINT},
      UpdateTime = #{updateTime,jdbcType=TIMESTAMP},
      Version = #{version,jdbcType=INTEGER}
    where DNo = #{DNo,jdbcType=BIGINT}
  </update>
  <select id="selectByKeyword1" parameterType="java.lang.String" resultType="com.ecard.entity.DiseaseMaster">
    select * from diseasemaster where 1=1
    <if test="keyword1 != null and keyword1 != ''">
      and Keyword1 like "%"#{keyword1,jdbcType=VARCHAR}"%"
    </if>
    <if test="chtType != null and chtType != ''" >
      and ChtType = #{chtType,jdbcType=VARCHAR}
    </if>
  </select>
  <select id="selectByIcdAndName" resultType="com.ecard.entity.DiseaseMaster">
  select * from diseasemaster where
      IcdCode = #{icdCode,jdbcType=VARCHAR} and ChtName = #{chtName,jdbcType=VARCHAR}
</select>
  <select id="selectByIcdAndNameAndNo" resultType="com.ecard.entity.DiseaseMaster">
  select * from diseasemaster where
      IcdCode = #{icdCode,jdbcType=VARCHAR} and ChtName = #{chtName,jdbcType=VARCHAR}
      and DNo != #{DNo,jdbcType=BIGINT}
</select>
</mapper>