<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ecard.dao.DrInfoMapper">
  <resultMap id="BaseResultMap" type="com.ecard.entity.DrInfo">
    <id column="DrNo" jdbcType="BIGINT" property="drNo" />
    <result column="CloudPassNo" jdbcType="BIGINT" property="cloudPassNo" />
    <result column="Hospital" jdbcType="VARCHAR" property="hospital" />
    <result column="DivNo" jdbcType="BIGINT" property="divNo" />
    <result column="Province" jdbcType="VARCHAR" property="province" />
    <result column="ChiefNo" jdbcType="VARCHAR" property="chiefNo" />
    <result column="Age" jdbcType="INTEGER" property="age" />
    <result column="Address" jdbcType="VARCHAR" property="address" />
    <result column="PracticeProfile" jdbcType="VARCHAR" property="practiceProfile" />
    <result column="Signature" jdbcType="VARCHAR" property="signature" />
    <result column="Introducer" jdbcType="VARCHAR" property="introducer" />
    <result column="Company" jdbcType="VARCHAR" property="company" />
    <result column="Title" jdbcType="VARCHAR" property="title" />
    <result column="DrTitleCert" jdbcType="VARCHAR" property="drTitleCert" />
    <result column="DrPracticeRegCert" jdbcType="VARCHAR" property="drPracticeRegCert" />
    <result column="ConsultingHour" jdbcType="VARCHAR" property="consultingHour" />
    <result column="leaderDrNo" jdbcType="BIGINT" property="leaderDrNo" />
    <result column="DisableFlag" jdbcType="INTEGER" property="disableFlag" />
    <result column="Type" jdbcType="INTEGER" property="type" />
    <result column="CreateUser" jdbcType="VARCHAR" property="createUser" />
    <result column="CreateTime" jdbcType="TIMESTAMP" property="createTime" />
    <result column="UpdateUser" jdbcType="VARCHAR" property="updateUser" />
    <result column="UpdateTime" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="Version" jdbcType="INTEGER" property="version" />
    <result column="City" jdbcType="VARCHAR" property="city" />
    <result column="Platform" jdbcType="INTEGER" property="platform" />
    <result column="HeadImg" jdbcType="VARCHAR" property="headImg" />
  </resultMap>
  <sql id="Base_Column_List">
    DrNo, CloudPassNo, Hospital, DivNo, Province, ChiefNo, Age, Address, PracticeProfile, 
    Signature, Introducer, Company, Title, DrTitleCert, DrPracticeRegCert, ConsultingHour, 
    leaderDrNo, DisableFlag, CreateUser, CreateTime, UpdateUser, UpdateTime, Version,`Type`,
    City,Platform,HeadImg
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from drinfo
    where DrNo = #{drNo,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from drinfo
    where DrNo = #{drNo,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.ecard.entity.DrInfo">
    insert into drinfo (DrNo, CloudPassNo, Hospital, 
      DivNo, Province, ChiefNo, 
      Age, Address, PracticeProfile, 
      Signature, Introducer, Company, 
      Title, DrTitleCert, DrPracticeRegCert, 
      ConsultingHour, leaderDrNo, DisableFlag, 
      CreateUser, CreateTime, UpdateUser, 
      UpdateTime, Version ,`Type`,City,Platform,HeadImg)
    values (#{drNo,jdbcType=BIGINT}, #{cloudPassNo,jdbcType=BIGINT}, #{hospital,jdbcType=VARCHAR}, 
      #{divNo,jdbcType=BIGINT}, #{province,jdbcType=VARCHAR}, #{chiefNo,jdbcType=VARCHAR}, 
      #{age,jdbcType=INTEGER}, #{address,jdbcType=VARCHAR}, #{practiceProfile,jdbcType=VARCHAR}, 
      #{signature,jdbcType=VARCHAR}, #{introducer,jdbcType=VARCHAR}, #{company,jdbcType=VARCHAR}, 
      #{title,jdbcType=VARCHAR}, #{drTitleCert,jdbcType=VARCHAR}, #{drPracticeRegCert,jdbcType=VARCHAR}, 
      #{consultingHour,jdbcType=VARCHAR}, #{leaderDrNo,jdbcType=BIGINT}, #{disableFlag,jdbcType=INTEGER}, 
      #{createUser,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateUser,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{version,jdbcType=INTEGER},#{type,jdbcType=INTEGER}
      , #{city,jdbcType=VARCHAR}, #{platform,jdbcType=INTEGER}, #{headImg,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ecard.entity.DrInfo"
          useGeneratedKeys="true" keyProperty="drNo" keyColumn="DrNo">
    insert into drinfo
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="drNo != null">
        DrNo,
      </if>
      <if test="cloudPassNo != null">
        CloudPassNo,
      </if>
      <if test="hospital != null and hospital !=''">
        Hospital,
      </if>
      <if test="divNo != null">
        DivNo,
      </if>
      <if test="province != null and province !=''">
        Province,
      </if>
      <if test="chiefNo != null and chiefNo !='' and chiefNo !='null'">
        ChiefNo,
      </if>
      <if test="age != null">
        Age,
      </if>
      <if test="address != null and address !='' and address !='null'">
        Address,
      </if>
      <if test="practiceProfile != null and practiceProfile !='' and practiceProfile !='null'">
        PracticeProfile,
      </if>
      <if test="signature != null and signature !='' and signature !='null'">
        Signature,
      </if>
      <if test="introducer != null and introducer !='' and introducer !='null'">
        Introducer,
      </if>
      <if test="company != null and company !='' and company !='null'">
        Company,
      </if>
      <if test="title != null and title !='' and title !='null'">
        Title,
      </if>
      <if test="drTitleCert != null and drTitleCert !='' and drTitleCert !='null'">
        DrTitleCert,
      </if>
      <if test="drPracticeRegCert != null and drPracticeRegCert !='' and drPracticeRegCert !='null'">
        DrPracticeRegCert,
      </if>
      <if test="consultingHour != null">
        ConsultingHour,
      </if>
      <if test="leaderDrNo != null">
        leaderDrNo,
      </if>
      <if test="disableFlag != null">
        DisableFlag,
      </if>
      <if test="createUser != null">
        CreateUser,
      </if>
      <if test="createTime != null">
        CreateTime,
      </if>
      <if test="updateUser != null">
        UpdateUser,
      </if>
      <if test="updateTime != null">
        UpdateTime,
      </if>
      <if test="version != null">
        Version,
      </if>
      <if test="type != null">
        `Type`,
      </if>
      <if test="city != null and city !=''">
        City,
      </if>
      <if test="platform != null">
        Platform
      </if>
      <if test="headImg != null">
        HeadImg
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="drNo != null">
        #{drNo,jdbcType=BIGINT},
      </if>
      <if test="cloudPassNo != null">
        #{cloudPassNo,jdbcType=BIGINT},
      </if>
      <if test="hospital != null and hospital !=''">
        #{hospital,jdbcType=VARCHAR},
      </if>
      <if test="divNo != null">
        #{divNo,jdbcType=BIGINT},
      </if>
      <if test="province != null">
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="chiefNo != null">
        #{chiefNo,jdbcType=VARCHAR},
      </if>
      <if test="age != null">
        #{age,jdbcType=INTEGER},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="practiceProfile != null and practiceProfile !='' and practiceProfile !='null'">
        #{practiceProfile,jdbcType=VARCHAR},
      </if>
      <if test="signature != null">
        #{signature,jdbcType=VARCHAR},
      </if>
      <if test="introducer != null">
        #{introducer,jdbcType=VARCHAR},
      </if>
      <if test="company != null">
        #{company,jdbcType=VARCHAR},
      </if>
      <if test="title != null and title !='' and title !='null'">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="drTitleCert != null and drTitleCert !='' and drTitleCert !='null'">
        #{drTitleCert,jdbcType=VARCHAR},
      </if>
      <if test="drPracticeRegCert != null and drPracticeRegCert !='' and drPracticeRegCert !='null'">
        #{drPracticeRegCert,jdbcType=VARCHAR},
      </if>
      <if test="consultingHour != null">
        #{consultingHour,jdbcType=VARCHAR},
      </if>
      <if test="leaderDrNo != null">
        #{leaderDrNo,jdbcType=BIGINT},
      </if>
      <if test="disableFlag != null">
        #{disableFlag,jdbcType=INTEGER},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null">
        #{version,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="city != null and city !=''">
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="platform != null">
      #{platform,jdbcType=INTEGER},
    </if>
      <if test="headImg != null">
        #{headImg,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ecard.entity.DrInfo">
    update drinfo
    <set>
      <if test="cloudPassNo != null">
        CloudPassNo = #{cloudPassNo,jdbcType=BIGINT},
      </if>
      <if test="hospital != null and hospital !=''">
        Hospital = #{hospital,jdbcType=VARCHAR},
      </if>
      <if test="divNo != null">
        DivNo = #{divNo,jdbcType=BIGINT},
      </if>
      <if test="province != null and province !=''">
        Province = #{province,jdbcType=VARCHAR},
      </if>
      <if test="chiefNo != null and chiefNo !=''">
        ChiefNo = #{chiefNo,jdbcType=VARCHAR},
      </if>
      <if test="age != null">
        Age = #{age,jdbcType=INTEGER},
      </if>
      <if test="address != null and address !=''">
        Address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="practiceProfile != null and practiceProfile !=''">
        PracticeProfile = #{practiceProfile,jdbcType=VARCHAR},
      </if>
      <if test="signature != null and signature !=''">
        Signature = #{signature,jdbcType=VARCHAR},
      </if>
      <if test="introducer != null and introducer !=''">
        Introducer = #{introducer,jdbcType=VARCHAR},
      </if>
      <if test="company != null and company !=''">
        Company = #{company,jdbcType=VARCHAR},
      </if>
      <if test="title != null and title !=''">
        Title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="drTitleCert != null and drTitleCert !=''">
        DrTitleCert = #{drTitleCert,jdbcType=VARCHAR},
      </if>
      <if test="drPracticeRegCert != null and drPracticeRegCert !=''">
        DrPracticeRegCert = #{drPracticeRegCert,jdbcType=VARCHAR},
      </if>
      <if test="consultingHour != null and consultingHour !=''">
        ConsultingHour = #{consultingHour,jdbcType=VARCHAR},
      </if>
      <if test="leaderDrNo != null and leaderDrNo !=''">
        leaderDrNo = #{leaderDrNo,jdbcType=BIGINT},
      </if>
      <if test="disableFlag != null">
        DisableFlag = #{disableFlag,jdbcType=INTEGER},
      </if>
      <if test="createUser != null and createUser !=''">
        CreateUser = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        CreateTime = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null and updateUser !=''">
        UpdateUser = #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        UpdateTime = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null">
        Version = #{version,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        `Type` = #{type,jdbcType=INTEGER},
      </if>
      <if test="city != null and city !='' and city !='null'">
        City = #{city,jdbcType=VARCHAR},
      </if>
      <if test="platform != null">
        Platform = #{platform,jdbcType=INTEGER},
      </if>
      <if test="headImg != null">
        HeadImg = #{headImg,jdbcType=VARCHAR},
      </if>
    </set>
    where DrNo = #{drNo,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ecard.entity.DrInfo">
    update drinfo
    set CloudPassNo = #{cloudPassNo,jdbcType=BIGINT},
      Hospital = #{hospital,jdbcType=VARCHAR},
      DivNo = #{divNo,jdbcType=BIGINT},
      Province = #{province,jdbcType=VARCHAR},
      ChiefNo = #{chiefNo,jdbcType=VARCHAR},
      Age = #{age,jdbcType=INTEGER},
      Address = #{address,jdbcType=VARCHAR},
      PracticeProfile = #{practiceProfile,jdbcType=VARCHAR},
      Signature = #{signature,jdbcType=VARCHAR},
      Introducer = #{introducer,jdbcType=VARCHAR},
      Company = #{company,jdbcType=VARCHAR},
      Title = #{title,jdbcType=VARCHAR},
      DrTitleCert = #{drTitleCert,jdbcType=VARCHAR},
      DrPracticeRegCert = #{drPracticeRegCert,jdbcType=VARCHAR},
      ConsultingHour = #{consultingHour,jdbcType=VARCHAR},
      leaderDrNo = #{leaderDrNo,jdbcType=BIGINT},
      DisableFlag = #{disableFlag,jdbcType=INTEGER},
      CreateUser = #{createUser,jdbcType=VARCHAR},
      CreateTime = #{createTime,jdbcType=TIMESTAMP},
      UpdateUser = #{updateUser,jdbcType=VARCHAR},
      UpdateTime = #{updateTime,jdbcType=TIMESTAMP},
      Version = #{version,jdbcType=INTEGER},
      City = #{city,jdbcType=VARCHAR},
      `Type` = #{type,jdbcType=INTEGER},
      Platform = #{platfrom,jdbcType=INTEGER},
      HeadImg = #{headImg,jdbcType=VARCHAR}
    where DrNo = #{drNo,jdbcType=BIGINT}
  </update>
  <select id="selectByNameChiefTitleFlag" resultType="com.ecard.pojo.queryResult.DrInfoQr">
    select dr.DrNo, dr.CloudPassNo, dr.Hospital, dr.DivNo, dr.Province, dr.ChiefNo, dr.Age,
    dr.Address, dr.PracticeProfile,dr.Platform,
    dr.Signature, dr.Introducer, dr.Company, dr.Title, dr.DrTitleCert, dr.DrPracticeRegCert,
    dr.ConsultingHour,
    dr.leaderDrNo, dr.DisableFlag, dr.CreateUser, dr.CreateTime, dr.UpdateUser, dr.UpdateTime,
    dr.Version, cl.name as drName, cl.phone , cl.IdNo,dr.type,dr.City,ddr.DisNo,dr.HeadImg
    from drinfo dr left join drdisrelation ddr on ddr.drNo = dr.drNo join cloudpassinfo cl on dr.CloudPassNo = cl.CloudPassNo
    where 1=1
    <if test="chiefNo != null and chiefNo !=''">
      and dr.ChiefNo = #{chiefNo,jdbcType=VARCHAR}
    </if>
    <if test="title != null and title !=''">
      and dr.Title = #{title,jdbcType=VARCHAR}
    </if>
    <if test="disableFlag != null">
      and dr.DisableFlag = #{disableFlag,jdbcType=INTEGER}
    </if>
    <if test="drName != null and drName !=''">
      and cl.Name like "%"#{drName,jdbcType=VARCHAR}"%"
    </if>
  </select>
  <select id="selectByCloudPassNo" parameterType="java.lang.Long" resultType="com.ecard.pojo.queryResult.DrInfoQr">
    select
    dr.DrNo, dr.CloudPassNo, dr.Hospital, dr.DivNo, dr.Province, dr.ChiefNo, dr.Age,
    dr.Address, dr.PracticeProfile,dr.Platform,
    dr.Signature, dr.Introducer, dr.Company, dr.Title, dr.DrTitleCert, dr.DrPracticeRegCert,
    dr.ConsultingHour,
    dr.leaderDrNo, dr.DisableFlag, dr.CreateUser, dr.CreateTime, dr.UpdateUser, dr.UpdateTime,
    dr.Version, cl.name,dr.type,dr.City,dr.HeadImg
    from drinfo dr left join drdisrelation ddr on ddr.drNo = dr.drNo join cloudpassinfo cl on dr.CloudPassNo = cl.CloudPassNo
    where cl.CloudPassNo = #{cloudPassNo,jdbcType=BIGINT}
  </select>
  <select id="selectByDrNo" resultType="com.ecard.pojo.queryResult.DrInfoQr" parameterType="java.lang.Long">
    select
    dr.DrNo, dr.CloudPassNo, dr.Hospital, dr.DivNo, dr.Province, dr.ChiefNo, dr.Age,
    dr.Address, dr.PracticeProfile,dr.Platform,
    dr.Signature, dr.Introducer, dr.Company, dr.Title, dr.DrTitleCert, dr.DrPracticeRegCert,
    dr.ConsultingHour,ddr.DisNo,
    dr.leaderDrNo, dr.DisableFlag, dr.CreateUser, dr.CreateTime, dr.UpdateUser, dr.UpdateTime,
    dr.Version, cl.name as drName, cl.IdNo as idNo ,cl.phone,dr.type,dr.City,dr.HeadImg
    from drinfo dr left join drdisrelation ddr on ddr.drNo = dr.drNo join cloudpassinfo cl on dr.CloudPassNo = cl.CloudPassNo
    where dr.DrNo = #{drNo,jdbcType=BIGINT}
  </select>
  <select id="selectByPtOpenId" resultType="com.ecard.pojo.queryResult.DrInfoQr" parameterType="java.lang.String">
    select
    dr.DrNo, dr.CloudPassNo, dr.Hospital, dr.DivNo, dr.Province, dr.ChiefNo, dr.Age,
    dr.Address, dr.PracticeProfile,dr.Platform,
    dr.Signature, dr.Introducer, dr.Company, dr.Title, dr.DrTitleCert, dr.DrPracticeRegCert,
    dr.ConsultingHour,
    dr.leaderDrNo, dr.DisableFlag, dr.CreateUser, dr.CreateTime, dr.UpdateUser, dr.UpdateTime,
    dr.Version, cl.name as drName, cl.IdNo as idNo ,cl.phone,dr.type,dr.City,dr.HeadImg
    from drinfo dr,ptopen pt,cloudpassinfo cl
    where pt.DrNo=dr.DrNo and dr.CloudPassNo = cl.CloudPassNo
    and pt.OpenId = #{openId,jdbcType=VARCHAR}
  </select>
  <select id="selectDepartment" parameterType="java.lang.String" resultType="com.ecard.pojo.queryResult.DrInfoQr">
    select
    dr.DrNo, dr.CloudPassNo, dr.Hospital, dr.DivNo, dr.Province, dr.ChiefNo, dr.Age,
    dr.Address, dr.PracticeProfile,dr.Platform,
    dr.Signature, dr.Introducer, dr.Company, dr.Title, dr.DrTitleCert, dr.DrPracticeRegCert,
    dr.ConsultingHour,
    dr.leaderDrNo, dr.DisableFlag, dr.CreateUser, dr.CreateTime, dr.UpdateUser, dr.UpdateTime,
    dr.Version, cl.name as drName, cl.IdNo as idNo ,cl.phone,dr.type,dr.City,dr.HeadImg
    from drinfo dr,cloudpassinfo cl
    where dr.CloudPassNo = cl.CloudPassNo
    <if test="deptName != null and deptName !='全部'">
      and dr.ChiefNo = #{deptName,jdbcType=VARCHAR}
    </if>
    <if test="drName != null and drName !=''">
      and cl.Name like "%"#{drName,jdbcType=VARCHAR}"%"
    </if>
    <if test="city != null and city !=''">
      and dr.City = #{city,jdbcType=VARCHAR}
    </if>
  </select>
</mapper>