<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ecard.dao.MallOrderMapper" >
  <resultMap id="BaseResultMap" type="com.ecard.entity.MallOrder" >
    <id column="MallNo" property="mallNo" jdbcType="BIGINT" />
    <result column="PtNo" property="ptNo" jdbcType="BIGINT" />
    <result column="DrNo" property="drNo" jdbcType="BIGINT" />
    <result column="DisNo" property="disNo" jdbcType="BIGINT" />
    <result column="DrugStoreNo" property="drugStoreNo" jdbcType="BIGINT" />
    <result column="MedOrderNo" property="medOrderNo" jdbcType="BIGINT" />
    <result column="OrderStatus" property="orderStatus" jdbcType="INTEGER" />
    <result column="OrderTime" property="orderTime" jdbcType="TIMESTAMP" />
    <result column="Phone" property="phone" jdbcType="VARCHAR" />
    <result column="Address" property="address" jdbcType="VARCHAR" />
    <result column="PayStatus" property="payStatus" jdbcType="INTEGER" />
    <result column="PayTime" property="payTime" jdbcType="TIMESTAMP" />
    <result column="ShippingStatus" property="shippingStatus" jdbcType="INTEGER" />
    <result column="ShippingCompany" property="shippingCompany" jdbcType="VARCHAR" />
    <result column="ShippingContext" property="shippingContext" jdbcType="VARCHAR" />
    <result column="ShippingNo" property="shippingNo" jdbcType="VARCHAR" />
    <result column="ShippingTime" property="shippingTime" jdbcType="TIMESTAMP" />
    <result column="OrderAmount" property="orderAmount" jdbcType="DECIMAL" />
    <result column="CreateUser" property="createUser" jdbcType="VARCHAR" />
    <result column="CreateTime" property="createTime" jdbcType="TIMESTAMP" />
    <result column="UpdateUser" property="updateUser" jdbcType="VARCHAR" />
    <result column="UpdateTime" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="Version" property="version" jdbcType="INTEGER" />
    <result column="Rental" property="rental" jdbcType="DECIMAL" />
    <result column="ActivityDetail" property="activityDetail" jdbcType="VARCHAR" />
    <result column="OffMoney" property="offMoney" jdbcType="DECIMAL" />
    <result column="Remark" property="remark" jdbcType="VARCHAR" />
    <result column="PacketId" property="packetId" jdbcType="BIGINT" />
  </resultMap>
  <resultMap id="MedOrderMap" type="com.ecard.entity.MedOrder">
    <id column="OrderNo" jdbcType="BIGINT" property="orderNo" />
    <result column="MedRecordNo" jdbcType="VARCHAR" property="medRecordNo" />
    <result column="DrugStoreNo" jdbcType="VARCHAR" property="drugStoreNo" />
    <result column="ExecUser" jdbcType="VARCHAR" property="execUser" />
    <result column="ExecTime" jdbcType="TIMESTAMP" property="execTime" />
    <result column="ExecLoc" jdbcType="VARCHAR" property="execLoc" />
    <result column="ExecRefuseReason" jdbcType="VARCHAR" property="execRefuseReason" />
    <result column="OrderStatus" jdbcType="INTEGER" property="orderStatus" />
    <result column="OrderAmount" jdbcType="DECIMAL" property="orderAmount" />
    <result column="DiagContent" jdbcType="VARCHAR" property="diagContent" />
    <result column="OrderType" jdbcType="INTEGER" property="orderType" />
    <result column="PrescriptionNum" jdbcType="INTEGER" property="prescriptionNum" />
    <result column="PrescriptionName" jdbcType="VARCHAR" property="prescriptionName" />
    <result column="DecoctionWay" jdbcType="INTEGER" property="decoctionWay" />
    <result column="DecoctionNum" jdbcType="INTEGER" property="decoctionNum" />
    <result column="UseTimes" jdbcType="VARCHAR" property="useTimes" />
    <result column="SpecialUsage" jdbcType="VARCHAR" property="specialUsage" />
    <result column="DisableFlag" jdbcType="INTEGER" property="disableFlag" />
    <result column="CreateUser" jdbcType="BIGINT" property="createUser" />
    <result column="CreateTime" jdbcType="TIMESTAMP" property="createTime" />
    <result column="UpdateUser" jdbcType="BIGINT" property="updateUser" />
    <result column="UpdateTime" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="Version" jdbcType="INTEGER" property="version" />
  </resultMap>
  <resultMap id="MedRecordMap" type="com.ecard.entity.MedRecord">
    <id column="MedRecordNo" jdbcType="VARCHAR" property="medRecordNo" />
    <result column="SubMedRecordNo" jdbcType="VARCHAR" property="subMedRecordNo" />
    <result column="PtNo" jdbcType="BIGINT" property="ptNo" />
    <result column="DrNo" jdbcType="BIGINT" property="drNo" />
    <result column="SymptomNo" jdbcType="BIGINT" property="symptomNo" />
    <result column="DiagContent" jdbcType="VARCHAR" property="diagContent" />
    <result column="Subjective" jdbcType="VARCHAR" property="subjective" />
    <result column="Objective" jdbcType="VARCHAR" property="objective" />
    <result column="Plan" jdbcType="VARCHAR" property="plan" />
    <result column="VisitDate" jdbcType="TIMESTAMP" property="visitDate" />
    <result column="MedRecordStatus" jdbcType="INTEGER" property="medRecordStatus" />
    <result column="CreateUser" jdbcType="VARCHAR" property="createUser" />
    <result column="CreateTime" jdbcType="TIMESTAMP" property="createTime" />
    <result column="UpdateUser" jdbcType="VARCHAR" property="updateUser" />
    <result column="UpdateTime" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="Version" jdbcType="INTEGER" property="version" />
  </resultMap>
  <resultMap id="MallOrderQrMap" type="com.ecard.pojo.queryResult.MallOrderQr" >
    <id column="MallNo" property="mallNo" jdbcType="BIGINT" />
    <result column="PtNo" property="ptNo" jdbcType="BIGINT" />
    <result column="DrNo" property="drNo" jdbcType="BIGINT" />
    <result column="DisNo" property="disNo" jdbcType="BIGINT" />
    <result column="DrugStoreNo" property="drugStoreNo" jdbcType="BIGINT" />
    <result column="MedOrderNo" property="medOrderNo" jdbcType="BIGINT" />
    <result column="OrderStatus" property="orderStatus" jdbcType="INTEGER" />
    <result column="OrderTime" property="orderTime" jdbcType="TIMESTAMP" />
    <result column="Phone" property="phone" jdbcType="VARCHAR" />
    <result column="Address" property="address" jdbcType="VARCHAR" />
    <result column="PayStatus" property="payStatus" jdbcType="INTEGER" />
    <result column="PayTime" property="payTime" jdbcType="TIMESTAMP" />
    <result column="ShippingStatus" property="shippingStatus" jdbcType="INTEGER" />
    <result column="ShippingCompany" property="shippingCompany" jdbcType="VARCHAR" />
    <result column="ShippingContext" property="shippingContext" jdbcType="VARCHAR" />
    <result column="ShippingNo" property="shippingNo" jdbcType="VARCHAR" />
    <result column="ShippingTime" property="shippingTime" jdbcType="TIMESTAMP" />
    <result column="OrderAmount" property="orderAmount" jdbcType="DECIMAL" />
    <result column="CreateUser" property="createUser" jdbcType="VARCHAR" />
    <result column="CreateTime" property="createTime" jdbcType="TIMESTAMP" />
    <result column="UpdateUser" property="updateUser" jdbcType="VARCHAR" />
    <result column="UpdateTime" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="Version" property="version" jdbcType="INTEGER" />
    <result column="Rental" property="rental" jdbcType="DECIMAL" />
    <result column="ActivityDetail" property="activityDetail" jdbcType="VARCHAR" />
    <result column="OffMoney" property="offMoney" jdbcType="DECIMAL" />
    <result column="Remark" property="remark" jdbcType="VARCHAR" />
    <result column="PacketId" property="packetId" jdbcType="BIGINT" />
    <association property="medOrder" column="OrderNo" resultMap="MedOrderMap" />
    <association property="medRecord" column="MedRecordNo" resultMap="MedRecordMap" />
  </resultMap>
  <sql id="Base_Column_List" >
    MallNo, PtNo, DrNo, DisNo, DrugStoreNo, MedOrderNo, OrderStatus, OrderTime, Phone, 
    Address, PayStatus, PayTime, ShippingStatus, ShippingCompany, ShippingContext, ShippingNo, 
    ShippingTime, OrderAmount, CreateUser, CreateTime, UpdateUser, UpdateTime, Version,
    Rental,ActivityDetail,OffMoney,Remark,PacketId
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from mallorder
    where MallNo = #{mallNo,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from mallorder
    where MallNo = #{mallNo,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.ecard.entity.MallOrder" >
    insert into mallorder (MallNo, PtNo, DrNo, 
      DisNo, DrugStoreNo, MedOrderNo, 
      OrderStatus, OrderTime, Phone, 
      Address, PayStatus, PayTime, 
      ShippingStatus, ShippingCompany, ShippingContext, 
      ShippingNo, ShippingTime, OrderAmount, 
      CreateUser, CreateTime, UpdateUser, 
      UpdateTime, Version,Rental,ActivityDetail,OffMoney,Remark,PacketId)
    values (#{mallNo,jdbcType=BIGINT}, #{ptNo,jdbcType=BIGINT}, #{drNo,jdbcType=BIGINT}, 
      #{disNo,jdbcType=BIGINT}, #{drugStoreNo,jdbcType=BIGINT}, #{medOrderNo,jdbcType=BIGINT}, 
      #{orderStatus,jdbcType=INTEGER}, #{orderTime,jdbcType=TIMESTAMP}, #{phone,jdbcType=VARCHAR}, 
      #{address,jdbcType=VARCHAR}, #{payStatus,jdbcType=INTEGER}, #{payTime,jdbcType=TIMESTAMP}, 
      #{shippingStatus,jdbcType=INTEGER}, #{shippingCompany,jdbcType=VARCHAR}, #{shippingContext,jdbcType=VARCHAR}, 
      #{shippingNo,jdbcType=VARCHAR}, #{shippingTime,jdbcType=TIMESTAMP}, #{orderAmount,jdbcType=DECIMAL}, 
      #{createUser,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateUser,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{version,jdbcType=INTEGER},
      #{rental,jdbcType=DECIMAL}, #{activityDetail,jdbcType=VARCHAR},
      #{offMoney,jdbcType=DECIMAL}, #{remark,jdbcType=VARCHAR},#{packetId,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ecard.entity.MallOrder" >
    insert into mallorder
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="mallNo != null" >
        MallNo,
      </if>
      <if test="ptNo != null" >
        PtNo,
      </if>
      <if test="drNo != null" >
        DrNo,
      </if>
      <if test="disNo != null" >
        DisNo,
      </if>
      <if test="drugStoreNo != null" >
        DrugStoreNo,
      </if>
      <if test="medOrderNo != null" >
        MedOrderNo,
      </if>
      <if test="orderStatus != null" >
        OrderStatus,
      </if>
      <if test="orderTime != null" >
        OrderTime,
      </if>
      <if test="phone != null" >
        Phone,
      </if>
      <if test="address != null" >
        Address,
      </if>
      <if test="payStatus != null" >
        PayStatus,
      </if>
      <if test="payTime != null" >
        PayTime,
      </if>
      <if test="shippingStatus != null" >
        ShippingStatus,
      </if>
      <if test="shippingCompany != null" >
        ShippingCompany,
      </if>
      <if test="shippingContext != null" >
        ShippingContext,
      </if>
      <if test="shippingNo != null" >
        ShippingNo,
      </if>
      <if test="shippingTime != null" >
        ShippingTime,
      </if>
      <if test="orderAmount != null" >
        OrderAmount,
      </if>
      <if test="createUser != null" >
        CreateUser,
      </if>
      <if test="createTime != null" >
        CreateTime,
      </if>
      <if test="updateUser != null" >
        UpdateUser,
      </if>
      <if test="updateTime != null" >
        UpdateTime,
      </if>
      <if test="version != null" >
        Version,
      </if>
      <if test="rental != null" >
        Rental,
      </if>
      <if test="activityDetail != null" >
        ActivityDetail,
      </if>
      <if test="offMoney != null" >
        OffMoney,
      </if>
      <if test="remark != null" >
        Remark,
      </if>
      <if test="packetId != null" >
        PacketId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="mallNo != null" >
        #{mallNo,jdbcType=BIGINT},
      </if>
      <if test="ptNo != null" >
        #{ptNo,jdbcType=BIGINT},
      </if>
      <if test="drNo != null" >
        #{drNo,jdbcType=BIGINT},
      </if>
      <if test="disNo != null" >
        #{disNo,jdbcType=BIGINT},
      </if>
      <if test="drugStoreNo != null" >
        #{drugStoreNo,jdbcType=BIGINT},
      </if>
      <if test="medOrderNo != null" >
        #{medOrderNo,jdbcType=BIGINT},
      </if>
      <if test="orderStatus != null" >
        #{orderStatus,jdbcType=INTEGER},
      </if>
      <if test="orderTime != null" >
        #{orderTime,jdbcType=TIMESTAMP},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="payStatus != null" >
        #{payStatus,jdbcType=INTEGER},
      </if>
      <if test="payTime != null" >
        #{payTime,jdbcType=TIMESTAMP},
      </if>
      <if test="shippingStatus != null" >
        #{shippingStatus,jdbcType=INTEGER},
      </if>
      <if test="shippingCompany != null" >
        #{shippingCompany,jdbcType=VARCHAR},
      </if>
      <if test="shippingContext != null" >
        #{shippingContext,jdbcType=VARCHAR},
      </if>
      <if test="shippingNo != null" >
        #{shippingNo,jdbcType=VARCHAR},
      </if>
      <if test="shippingTime != null" >
        #{shippingTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderAmount != null" >
        #{orderAmount,jdbcType=DECIMAL},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null" >
        #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null" >
        #{version,jdbcType=INTEGER},
      </if>
      <if test="rental != null" >
        #{rental,jdbcType=DECIMAL},
      </if>
      <if test="activityDetail != null" >
        #{activityDetail,jdbcType=VARCHAR},
      </if>
      <if test="offMoney != null" >
        #{offMoney,jdbcType=DECIMAL},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="packetId != null" >
        #{packetId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ecard.entity.MallOrder" >
    update mallorder
    <set >
      <if test="ptNo != null" >
        PtNo = #{ptNo,jdbcType=BIGINT},
      </if>
      <if test="drNo != null" >
        DrNo = #{drNo,jdbcType=BIGINT},
      </if>
      <if test="disNo != null" >
        DisNo = #{disNo,jdbcType=BIGINT},
      </if>
      <if test="drugStoreNo != null" >
        DrugStoreNo = #{drugStoreNo,jdbcType=BIGINT},
      </if>
      <if test="medOrderNo != null" >
        MedOrderNo = #{medOrderNo,jdbcType=BIGINT},
      </if>
      <if test="orderStatus != null" >
        OrderStatus = #{orderStatus,jdbcType=INTEGER},
      </if>
      <if test="orderTime != null" >
        OrderTime = #{orderTime,jdbcType=TIMESTAMP},
      </if>
      <if test="phone != null" >
        Phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        Address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="payStatus != null" >
        PayStatus = #{payStatus,jdbcType=INTEGER},
      </if>
      <if test="payTime != null" >
        PayTime = #{payTime,jdbcType=TIMESTAMP},
      </if>
      <if test="shippingStatus != null" >
        ShippingStatus = #{shippingStatus,jdbcType=INTEGER},
      </if>
      <if test="shippingCompany != null" >
        ShippingCompany = #{shippingCompany,jdbcType=VARCHAR},
      </if>
      <if test="shippingContext != null" >
        ShippingContext = #{shippingContext,jdbcType=VARCHAR},
      </if>
      <if test="shippingNo != null" >
        ShippingNo = #{shippingNo,jdbcType=VARCHAR},
      </if>
      <if test="shippingTime != null" >
        ShippingTime = #{shippingTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderAmount != null" >
        OrderAmount = #{orderAmount,jdbcType=DECIMAL},
      </if>
      <if test="createUser != null" >
        CreateUser = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CreateTime = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null" >
        UpdateUser = #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        UpdateTime = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null" >
        Version = #{version,jdbcType=INTEGER},
      </if>
      <if test="rental != null" >
        Rental = #{rental,jdbcType=DECIMAL},
      </if>
      <if test="activityDetail != null" >
        ActivityDetail = #{activityDetail,jdbcType=VARCHAR},
      </if>
      <if test="offMoney != null" >
        OffMoney = #{offMoney,jdbcType=DECIMAL},
      </if>
      <if test="remark != null" >
        Remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="packetId != null" >
        PacketId = #{packetId,jdbcType=BIGINT},
      </if>
    </set>
    where MallNo = #{mallNo,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ecard.entity.MallOrder" >
    update mallorder
    set PtNo = #{ptNo,jdbcType=BIGINT},
      DrNo = #{drNo,jdbcType=BIGINT},
      DisNo = #{disNo,jdbcType=BIGINT},
      DrugStoreNo = #{drugStoreNo,jdbcType=BIGINT},
      MedOrderNo = #{medOrderNo,jdbcType=BIGINT},
      OrderStatus = #{orderStatus,jdbcType=INTEGER},
      OrderTime = #{orderTime,jdbcType=TIMESTAMP},
      Phone = #{phone,jdbcType=VARCHAR},
      Address = #{address,jdbcType=VARCHAR},
      PayStatus = #{payStatus,jdbcType=INTEGER},
      PayTime = #{payTime,jdbcType=TIMESTAMP},
      ShippingStatus = #{shippingStatus,jdbcType=INTEGER},
      ShippingCompany = #{shippingCompany,jdbcType=VARCHAR},
      ShippingContext = #{shippingContext,jdbcType=VARCHAR},
      ShippingNo = #{shippingNo,jdbcType=VARCHAR},
      ShippingTime = #{shippingTime,jdbcType=TIMESTAMP},
      OrderAmount = #{orderAmount,jdbcType=DECIMAL},
      CreateUser = #{createUser,jdbcType=VARCHAR},
      CreateTime = #{createTime,jdbcType=TIMESTAMP},
      UpdateUser = #{updateUser,jdbcType=VARCHAR},
      UpdateTime = #{updateTime,jdbcType=TIMESTAMP},
      Version = #{version,jdbcType=INTEGER},
      Rental = #{rental,jdbcType=DECIMAL},
      ActivityDetail = #{activityDetail,jdbcType=VARCHAR},
      OffMoney = #{offMoney,jdbcType=DECIMAL},
      Remark = #{remark,jdbcType=VARCHAR},
      PacketId = #{packetID,jdbcType=BIGINT}
    where MallNo = #{mallNo,jdbcType=BIGINT}
  </update>
  <select id="selectByDrNo" parameterType="java.lang.Long" resultType="com.ecard.entity.MallOrder">
    select
     mao.MallNo, mao.PtNo, mao.DrNo, mao.DisNo, mao.DrugStoreNo, mao.MedOrderNo,
     mao.OrderStatus, mao.OrderTime, mao.Phone,
    mao.Address, mao.PayStatus, mao.PayTime, mao.ShippingStatus, mao.ShippingCompany,
    mao.ShippingContext, mao.ShippingNo,
    mao.ShippingTime, mao.OrderAmount, mao.CreateUser, mao.CreateTime, mao.UpdateUser,
    mao.UpdateTime, mao.Version, mao.Rental, mao.ActivityDetail, mao.OffMoney, mao.Remark,
    mao.PacketId
     from mallorder mao,medorder meo
    where mao.MedOrderNo = meo.OrderNo and DrNo = #{drNo,jdbcType=BIGINT}
    and meo.OrderStatus = 0
  </select>
  <select id="selectByPtNoAndPayStatus" parameterType="java.lang.Long" resultType="com.ecard.entity.MallOrder">
    select * from mallorder where PtNo = #{ptNo,jdbcType=BIGINT} and PayStatus is not null
  </select>
  <select id="selectByMnOsPnDn" resultType="com.ecard.entity.MallOrder">
    select
    mao.MallNo, mao.PtNo, mao.DrNo, mao.DisNo, mao.DrugStoreNo, mao.MedOrderNo, mao.OrderStatus, mao.OrderTime, mao.Phone,
    mao.Address, mao.PayStatus, mao.PayTime, mao.ShippingStatus, mao.ShippingCompany, mao.ShippingContext, mao.ShippingNo,
    mao.ShippingTime, mao.OrderAmount, mao.CreateUser, mao.CreateTime, mao.UpdateUser, mao.UpdateTime, mao.Version,
    mao.Rental, mao.ActivityDetail, mao.OffMoney, mao.Remark,mao.PacketId
    from mallorder mao,medorder meo
    where mao.MedOrderNo = meo.OrderNo
    <if test="ptNo != null" >
      and mao.PtNo = #{ptNo,jdbcType=BIGINT}
    </if>
    <if test="drNo != null" >
      and mao.DrNo = #{drNo,jdbcType=BIGINT}
    </if>
    <if test="mallNo != null" >
      and mao.MallNo = #{mallNo,jdbcType=BIGINT}
    </if>
    <if test="orderStatus != null" >
      and mao.OrderStatus = #{orderStatus,jdbcType=INTEGER}
    </if>
  </select>
  <select id="selectId" resultType="java.lang.Long">
    call generate_mallNo(@a)
  </select>
  <select id="selectByMedOrderNo" resultType="com.ecard.entity.MallOrder" parameterType="java.lang.Long">
    select
    mao.MallNo, mao.PtNo, mao.DrNo, mao.DisNo, mao.DrugStoreNo, mao.MedOrderNo, mao.OrderStatus, mao.OrderTime, mao.Phone,
    mao.Address, mao.PayStatus, mao.PayTime, mao.ShippingStatus, mao.ShippingCompany, mao.ShippingContext,
    mao.ShippingNo,
    mao.ShippingTime, mao.OrderAmount, mao.CreateUser, mao.CreateTime, mao.UpdateUser, mao.UpdateTime, mao.Version,
    mao.Rental, mao.ActivityDetail, mao.OffMoney, mao.Remark,mao.PacketId
    from mallorder mao,medorder meo where
    mao.MedOrderNo = meo.OrderNo
    and
    meo.OrderNo = #{medOrderNo,jdbcType=BIGINT}
  </select>
  <select id="selectByMedOrderNo1" resultType="com.ecard.entity.MallOrder" parameterType="java.lang.Long">
    select
    mao.MallNo, mao.PtNo, mao.DrNo, mao.DisNo, mao.DrugStoreNo, mao.MedOrderNo, mao.OrderStatus, mao.OrderTime, mao.Phone,
    mao.Address, mao.PayStatus, mao.PayTime, mao.ShippingStatus, mao.ShippingCompany, mao.ShippingContext,
    mao.ShippingNo,
    mao.ShippingTime, mao.OrderAmount, mao.CreateUser, mao.CreateTime, mao.UpdateUser, mao.UpdateTime, mao.Version
    , mao.Rental, mao.ActivityDetail, mao.OffMoney, mao.Remark,mao.PacketId
    from mallorder mao,medorder meo where
    mao.MedOrderNo = meo.OrderNo
    and
    mao.PayStatus = 0
    and
    meo.OrderNo = #{medOrderNo,jdbcType=BIGINT}
  </select>
  <select id="selectByMedOAndMedR" resultType="com.ecard.entity.MallOrder">
    select
    mao.MallNo, mao.PtNo, mao.DrNo, mao.DisNo, mao.DrugStoreNo, mao.MedOrderNo, mao.OrderStatus, mao.OrderTime, mao.Phone,
    mao.Address, mao.PayStatus, mao.PayTime, mao.ShippingStatus, mao.ShippingCompany, mao.ShippingContext,
    mao.ShippingNo,
    mao.ShippingTime, mao.OrderAmount, mao.CreateUser, mao.CreateTime, mao.UpdateUser, mao.UpdateTime, mao.Version
    , mao.Rental, mao.ActivityDetail, mao.OffMoney, mao.Remark,mao.PacketId
    from mallorder mao,medorder meo,medrecord mer where
    mao.MedOrderNo = meo.OrderNo and mer.MedRecordNo = meo.MedRecordNo
    <if test="medOrderNo != null and medOrderNo !=''" >
      and meo.OrderNo = #{medOrderNo,jdbcType=BIGINT}
    </if>
    <if test="medRecordNo != null and medRecordNo !=''" >
      and mer.MedRecordNo = #{medRecordNo,jdbcType=BIGINT}
    </if>

  </select>
  <select id="selectByOrderStatus" resultType="com.ecard.entity.MallOrder">
    select * from mallorder
    where OrderStatus !=3
    and PayStatus = 0
    and (Version = 1 or Version = 3 or Version = 4 or Version = 5   )
    and PtNo = #{ptNo,jdbcType=BIGINT}
    <if test="orderStatus == 0 or orderStatus ==1" >
      and OrderStatus = #{orderStatus,jdbcType=INTEGER}
    </if>
  </select>
  <select id="selectByMnOsPnDns" resultType="com.ecard.entity.MallOrder">
    select
    mao.MallNo, mao.PtNo, mao.DrNo, mao.DisNo, mao.DrugStoreNo, mao.MedOrderNo, mao.OrderStatus, mao.OrderTime, mao.Phone,
    mao.Address, mao.PayStatus, mao.PayTime, mao.ShippingStatus, mao.ShippingCompany, mao.ShippingContext, mao.ShippingNo,
    mao.ShippingTime, mao.OrderAmount, mao.CreateUser, mao.CreateTime, mao.UpdateUser, mao.UpdateTime, mao.Version
    , mao.Rental, mao.ActivityDetail, mao.OffMoney, mao.Remark,mao.PacketId
    from mallorder mao,medorder meo
    where mao.MedOrderNo = meo.OrderNo and mao.OrderStatus !=3
    <if test="ptNo != null and ptNo !=''" >
      and mao.PtNo = #{ptNo,jdbcType=BIGINT}
    </if>
    <if test="drNo != null and drNo !=''" >
      and mao.DrNo = #{drNo,jdbcType=BIGINT}
    </if>
    <if test="mallNo != null and mallNo !=''" >
      and mao.MallNo = #{mallNo,jdbcType=BIGINT}
    </if>
    <if test="orderStatus != null and orderStatus !=''" >
      and mao.OrderStatus = #{orderStatus,jdbcType=INTEGER}
    </if>
    <if test="startDate != null and startDate !='' and endDate != null and endDate !=''" >
      and OrderTime between #{startDate,jdbcType=VARCHAR} and #{endDate,jdbcType=VARCHAR}
    </if>
  </select>
  <select id="selectByDrugStoreNo" resultType="com.ecard.entity.MallOrder">
    select
    mao.MallNo, mao.PtNo, mao.DrNo, mao.DisNo, mao.DrugStoreNo, mao.MedOrderNo, mao.OrderStatus, mao.OrderTime, mao.Phone,
    mao.Address, mao.PayStatus, mao.PayTime, mao.ShippingStatus, mao.ShippingCompany, mao.ShippingContext, mao.ShippingNo,
    mao.ShippingTime, mao.OrderAmount, mao.CreateUser, mao.CreateTime, mao.UpdateUser, mao.UpdateTime, mao.Version
    , mao.Rental, mao.ActivityDetail, mao.OffMoney, mao.Remark,mao.PacketId
    from mallorder mao,medorder meo
    where mao.MedOrderNo = meo.OrderNo and mao.OrderStatus !=3 and mao.DrugStoreNo = #{drugStoreNo,jdbcType=INTEGER}
    <if test="startDate != null and endDate != null" >
      and OrderTime between #{startDate,jdbcType=VARCHAR} and #{endDate,jdbcType=VARCHAR}
    </if>
  </select>
  <select id="selectByMoOsSdEd" resultType="com.ecard.entity.MallOrder">
    select
    mao.MallNo, mao.PtNo, mao.DrNo, mao.DisNo, mao.DrugStoreNo, mao.MedOrderNo, mao.OrderStatus, mao.OrderTime, mao.Phone,
    mao.Address, mao.PayStatus, mao.PayTime, mao.ShippingStatus, mao.ShippingCompany, mao.ShippingContext, mao.ShippingNo,
    mao.ShippingTime, mao.OrderAmount, mao.CreateUser, mao.CreateTime, mao.UpdateUser, mao.UpdateTime, mao.Version
    , mao.Rental, mao.ActivityDetail, mao.OffMoney, mao.Remark,mao.PacketId
    from mallorder mao,medorder meo,disinfo dis,drdisrelation drdis
    where mao.MedOrderNo = meo.OrderNo
    and mao.DrNo = drdis.DrNo
    and dis.DisNo = drdis.DisNo
    and mao.OrderStatus !=3
    and mao.PayStatus = 0
    <if test="disNo1 != null" >
    and
    (select disNo from disinfo where CloudPassNo =
    (select DisLeader from disinfo where disNo = dis.DisNo)) = #{disNo1,jdbcType=BIGINT}
    </if>
    <if test="disNo2 != null" >
    and
    dis.DisNo = #{disNo2,jdbcType=BIGINT}
    </if>
    <if test="mallNo != null" >
      and mao.MallNo = #{mallNo,jdbcType=BIGINT}
    </if>
    <if test="drugStoreNo != null" >
      and mao.DrugStoreNo = #{drugStoreNo,jdbcType=BIGINT}
    </if>
    <if test="orderStatus != null and orderStatus !=''" >
      and meo.OrderStatus = #{orderStatus,jdbcType=INTEGER}
    </if>
    <if test="startDate != null and startDate !='' and endDate != null and endDate !=''" >
      and date_format(mao.OrderTime,'%Y-%m') between #{startDate,jdbcType=VARCHAR} and #{endDate,jdbcType=VARCHAR}
    </if>
  </select>
  <select id="selectByPtNo1" resultType="com.ecard.entity.MallOrder">
    select
    mao.MallNo, mao.PtNo, mao.DrNo, mao.DisNo, mao.DrugStoreNo, mao.MedOrderNo, mao.OrderStatus, mao.OrderTime, mao.Phone,
    mao.Address, mao.PayStatus, mao.PayTime, mao.ShippingStatus, mao.ShippingCompany, mao.ShippingContext, mao.ShippingNo,
    mao.ShippingTime, mao.OrderAmount, mao.CreateUser, mao.CreateTime, mao.UpdateUser, mao.UpdateTime, mao.Version
    , mao.Rental, mao.ActivityDetail, mao.OffMoney, mao.Remark,mao.PacketId
    from
    mallorder mao left join ptinfo pt on mao.PtNo = pt.PtNo
    left join medorder meo on mao.MedOrderNo = meo.OrderNo
    left join medrecord mer on meo.MedRecordNo = mer.MedRecordNo
    left join drinfo dr on mao.drNo = dr.drNo
    where
    mao.orderStatus !=3
    and mer.MedRecordStatus=0
    and pt.PtNo = #{ptNo,jdbcType=INTEGER}
    and dr.drNo = #{drNo,jdbcType=INTEGER}
  </select>
  <select id="selectByPtNoAndMallNo" resultType="com.ecard.entity.MallOrder">
    select
    mao.MallNo, mao.PtNo, mao.DrNo, mao.DisNo, mao.DrugStoreNo, mao.MedOrderNo, mao.OrderStatus, mao.OrderTime, mao.Phone,
    mao.Address, mao.PayStatus, mao.PayTime, mao.ShippingStatus, mao.ShippingCompany, mao.ShippingContext, mao.ShippingNo,
    mao.ShippingTime, mao.OrderAmount, mao.CreateUser, mao.CreateTime, mao.UpdateUser, mao.UpdateTime, mao.Version
    , mao.Rental, mao.ActivityDetail, mao.OffMoney, mao.Remark,mao.PacketId
    from mallorder mao,ptinfo pt,medorder meo,medrecord mer
    where mao.PtNo = pt.PtNo and mao.orderStatus !=3 and mao.MedOrderNo = meo.OrderNo and meo.MedRecordNo = mer.MedRecordNo
    and mao.PayStatus = 0
    and pt.PtNo = #{ptNo,jdbcType=INTEGER}
    and mao.MallNo != #{mallNo,jdbcType=INTEGER}
  </select>
  <select id="selectByPtNoAndPayStatus1" resultType="com.ecard.entity.MallOrder">
    select
     mao.MallNo, mao.PtNo, mao.DrNo, mao.DisNo, mao.DrugStoreNo, mao.MedOrderNo, mao.OrderStatus, mao.OrderTime, mao.Phone,
    mao.Address, mao.PayStatus, mao.PayTime, mao.ShippingStatus, mao.ShippingCompany, mao.ShippingContext, mao.ShippingNo,
    mao.ShippingTime, mao.OrderAmount, mao.CreateUser, mao.CreateTime, mao.UpdateUser, mao.UpdateTime, mao.Version
    , mao.Rental, mao.ActivityDetail, mao.OffMoney, mao.Remark,mao.PacketId
    from mallorder mao,ptinfo pt,medorder meo,medrecord mer
     where mao.PtNo = pt.PtNo and mao.MedOrderNo = meo.OrderNo and mer.MedRecordNo = meo.MedRecordNo
     and mao.orderStatus !=3
     and mer.MedRecordStatus = 0
     and pt.ptNo = #{ptNo,jdbcType=INTEGER}
    <if test="payStatus != null" >
      and mao.PayStatus = #{payStatus,jdbcType=INTEGER}
    </if>
  </select>
  <select id="selectByDrNoMedRecordStatus" resultType="com.ecard.entity.MallOrder" parameterType="java.lang.Long">
    select
    mao.MallNo, mao.PtNo, mao.DrNo, mao.DisNo, mao.DrugStoreNo, mao.MedOrderNo, mao.OrderStatus, mao.OrderTime, mao.Phone,
    mao.Address, mao.PayStatus, mao.PayTime, mao.ShippingStatus, mao.ShippingCompany, mao.ShippingContext, mao.ShippingNo,
    mao.ShippingTime, mao.OrderAmount, mao.CreateUser, mao.CreateTime, mao.UpdateUser, mao.UpdateTime, mao.Version
    , mao.Rental, mao.ActivityDetail, mao.OffMoney, mao.Remark,mao.PacketId
    from mallorder mao,medorder meo,medrecord mer
    where mao.MedOrderNo = meo.OrderNo and mer.MedRecordNo = meo.MedRecordNo
    and mer.MedRecordStatus = 1
    and mao.DrNo = #{drNo,jdbcType=INTEGER}
  </select>
  <select id="selectByMedRecordNo" resultType="com.ecard.entity.MallOrder" parameterType="java.lang.Long">
    select
    mao.MallNo, mao.PtNo, mao.DrNo, mao.DisNo, mao.DrugStoreNo, mao.MedOrderNo, mao.OrderStatus, mao.OrderTime, mao.Phone,
    mao.Address, mao.PayStatus, mao.PayTime, mao.ShippingStatus, mao.ShippingCompany, mao.ShippingContext, mao.ShippingNo,
    mao.ShippingTime, mao.OrderAmount, mao.CreateUser, mao.CreateTime, mao.UpdateUser, mao.UpdateTime, mao.Version
    , mao.Rental, mao.ActivityDetail, mao.OffMoney, mao.Remark,mao.PacketId
    from mallorder mao,medorder meo,medrecord mer
    where mao.MedOrderNo = meo.OrderNo and mer.MedRecordNo = meo.MedRecordNo
    and mer.MedRecordNo = #{medRecordNo,jdbcType=INTEGER}
  </select>
  <select id="selectByDrNoPtNamePhone" resultType="com.ecard.entity.MallOrder">
    select distinct
    mao.PtNo
    from mallorder mao,cloudpassinfo cpi,ptinfo pt
    where mao.PtNo = pt.PtNo and cpi.CloudPassNo = pt.CloudPassNo
    <if test="drNo != null and drNo !=''" >
      and mao.DrNo = #{drNo,jdbcType=BIGINT}
    </if>
    <if test="phone != null and phone !=''" >
      and cpi.phone = #{phone,jdbcType=VARCHAR}
    </if>
    <if test="name != null and name !=''" >
      and cpi.Name = #{name,jdbcType=VARCHAR}
    </if>
  </select>
  <select id="selectByNamePhoneDrNoDate" resultType="com.ecard.entity.MallOrder">
    select
    mao.MallNo, mao.PtNo, mao.DrNo, mao.DisNo, mao.DrugStoreNo, mao.MedOrderNo, mao.OrderStatus, mao.OrderTime, mao.Phone,
    mao.Address, mao.PayStatus, mao.PayTime, mao.ShippingStatus, mao.ShippingCompany, mao.ShippingContext, mao.ShippingNo,
    mao.ShippingTime, mao.OrderAmount, mao.CreateUser, mao.CreateTime, mao.UpdateUser, mao.UpdateTime, mao.Version
    , mao.Rental, mao.ActivityDetail, mao.OffMoney, mao.Remark,mao.PacketId
    from mallorder mao,cloudpassinfo cpi,ptinfo pt
    where mao.PtNo = pt.PtNo and cpi.CloudPassNo = pt.CloudPassNo
    <if test="drNo != null and drNo !=''" >
      and mao.DrNo = #{drNo,jdbcType=BIGINT}
    </if>
    <if test="name != null and name !=''" >
      and (cpi.phone = #{name,jdbcType=VARCHAR} or cpi.name = #{name,jdbcType=VARCHAR})
    </if>
    <if test="startDate != null and startDate !='' and endDate != null and endDate !=''" >
      and mao.OrderTime between #{startDate,jdbcType=VARCHAR} and #{endDate,jdbcType=VARCHAR}
    </if>
  </select>
  <select id="selectByNamePhoneDrNoDateType2" resultType="com.ecard.pojo.queryResult.PcCountQr">
    select
    cpi.Name as drName,
    ds.CommonName as drugName,
    sum(mei.number) as sum,
    sum(meo.OrderAmount) as amountSum
    from mallorder mao,cloudpassinfo cpi,ptinfo pt,medorder meo,meditem mei,drugset ds
    where mao.PtNo = pt.PtNo
    and cpi.CloudPassNo = pt.CloudPassNo
    and meo.OrderNo = mao.MedOrderNo
    and mei.MedOrderNo = meo.OrderNo
    and mao.PayStatus = 0
    and ds.DrugSetNo = mei.drugNo
    and meo.orderType = 2
    <if test="drNo != null and drNo !=''" >
      and mao.DrNo = #{drNo,jdbcType=BIGINT}
    </if>
    <if test="name != null and name !=''" >
      and (cpi.phone = #{name,jdbcType=VARCHAR} or cpi.name = #{name,jdbcType=VARCHAR})
    </if>
    <if test="startDate != null and startDate !=''" >
      and date_format(meo.UpdateTime,'%Y-%m') = #{startDate,jdbcType=TIMESTAMP}
    </if>
    <if test="drugNo != null" >
      and mei.drugNo = #{drugNo,jdbcType=BIGINT}
    </if>
    group by cpi.Name,drugName
  </select>
  <select id="selectByNamePhoneDrNoDateType1" resultType="com.ecard.pojo.queryResult.PcCountQr">
    select
    cpi.Name as drName,
    ds.CommonName as drugName,
    sum(meo.PrescriptionNum) as sum,
    sum(meo.OrderAmount) as amountSum
    from mallorder mao,cloudpassinfo cpi,ptinfo pt,medorder meo,meditem mei,drugset ds
    where mao.PtNo = pt.PtNo
    and cpi.CloudPassNo = pt.CloudPassNo
    and meo.OrderNo = mao.MedOrderNo
    and mei.MedOrderNo = meo.OrderNo
    and mao.PayStatus = 0
    and ds.DrugSetNo = mei.drugNo
    and meo.orderType = 1
    <if test="drNo != null and drNo !=''" >
      and mao.DrNo = #{drNo,jdbcType=BIGINT}
    </if>
    <if test="name != null and name !=''" >
      and (cpi.phone = #{name,jdbcType=VARCHAR} or cpi.name = #{name,jdbcType=VARCHAR})
    </if>
    <if test="startDate != null and startDate !=''" >
      and date_format(meo.UpdateTime,'%Y-%m') = #{startDate,jdbcType=TIMESTAMP}
    </if>
    <if test="drugNo != null" >
      and meo.drugNo = #{drugNo,jdbcType=BIGINT}
    </if>
    group by cpi.Name,drugName
  </select>
  <select id="findShippingStatusIs1" resultType="com.ecard.entity.MallOrder">
    select *
    from mallorder
    where
    ShippingStatus = 1
    and
    PayStatus = 0
    and
    DrugStoreNo is null
  </select>
  <select id="selectByDate" resultType="com.ecard.pojo.queryResult.MallOrderCount">
    select
    meo.OrderNo as medOrderNo,meo.UpdateTime as orderTime,
    cpi.Name as name,meo.ExecUser as contact,meo.DrugStoreNo as drugStoreName,
    mao.ShippingStatus as shippingStatus,meo.OrderAmount as orderAmount
    from mallorder mao,medorder meo,ptinfo pti,cloudpassinfo cpi
    where
    mao.MedOrderNo = meo.OrderNo
    and
    mao.PtNo = pti.PtNo
    and
    pti.CloudPassNo = cpi.CloudPassNo
    and
    mao.PayStatus = 0
  </select>
  <select id="selectMaxOrderTime" parameterType="java.lang.Long" resultType="com.ecard.entity.MallOrder">
    SELECT * from (SELECT
     mao.MallNo, mao.PtNo, mao.DrNo, mao.DisNo, mao.DrugStoreNo, mao.MedOrderNo, mao.OrderStatus, mao.OrderTime, mao.Phone,
    mao.Address, mao.PayStatus, mao.PayTime, mao.ShippingStatus, mao.ShippingCompany, mao.ShippingContext, mao.ShippingNo,
    mao.ShippingTime, mao.OrderAmount, mao.CreateUser, mao.CreateTime, mao.UpdateUser, mao.UpdateTime, mao.Version
    , mao.Rental, mao.ActivityDetail, mao.OffMoney, mao.Remark,mao.PacketId
     FROM mallorder mao,medorder meo where mao.MedOrderNo = meo.OrderNo and mao.ptNo = #{ptNo,jdbcType=INTEGER} and mao.drNo = #{drNo,jdbcType=INTEGER} and mao.payStatus = 0 ORDER BY meo.updateTime desc LIMIT 0,1) a GROUP BY a.MallNo
  </select>
  <select id="selectByPtNoAndUpdateTime" parameterType="java.lang.Long" resultType="com.ecard.entity.MallOrder">
    select
    mao.MallNo, mao.PtNo, mao.DrNo, mao.DisNo, mao.DrugStoreNo, mao.MedOrderNo, mao.OrderStatus, mao.OrderTime, mao.Phone,
    mao.Address, mao.PayStatus, mao.PayTime, mao.ShippingStatus, mao.ShippingCompany, mao.ShippingContext, mao.ShippingNo,
    mao.ShippingTime, mao.OrderAmount, mao.CreateUser, mao.CreateTime, mao.UpdateUser, mao.UpdateTime, mao.Version
    , mao.Rental, mao.ActivityDetail, mao.OffMoney, mao.Remark,mao.PacketId
    FROM mallorder mao,medorder meo
    where mao.MedOrderNo = meo.OrderNo and mao.ptNo = #{ptNo,jdbcType=INTEGER} and mao.payStatus = 0 ORDER BY meo.updateTime LIMIT 0,1
  </select>
  <select id="selectByTypeDrNameDrugNoDate" resultType="com.ecard.pojo.queryResult.PcCountQr">
    select *
    from
    mallorder mao
    LEFT JOIN
    medorder meo on mao.MedOrderNo = meo.OrderNo
    LEFT JOIN
    drinfo dr on dr.drNo = mao.drNo
    LEFT JOIN
    drdisrelation drdis on dr.DrNo = drdis.DrNo
    LEFT JOIN
    cloudpassinfo cpi on cpi.CloudPassNo = dr.CloudPassNo
    where
    meo.OrderType = 1
    and
    mao.PayStatus = 0
    <if test="drPhone != null and drPhone !=''" >
      and cpi.Phone = #{drPhone,jdbcType=VARCHAR}
    </if>
    <if test="drName != null and drName !=''" >
      and cpi.Name = #{drName,jdbcType=VARCHAR}
    </if>
    <if test="drNo != null" >
      and dr.DrNo = #{drNo,jdbcType=VARCHAR}
    </if>
    and
    meo.UpdateTime between #{startDate,jdbcType=TIMESTAMP} and #{endDate,jdbcType=TIMESTAMP}
    <choose>
      <when test="disNo1 != null and disNo2 = null" >
        and drdis.disNo in
        (select disNo from disinfo where disLeader = (select CloudPassNo from disinfo where disNo = #{disNo1,jdbcType=BIGINT}))
      </when>
      <when test="disNo1 != null and disNo2 != null" >
        and drdis.disNo in
        (select disNo from disinfo where disLeader = (select CloudPassNo from disinfo where disNo = #{disNo1,jdbcType=BIGINT}))
        and drdis.disNo = #{disNo2,jdbcType=BIGINT}
      </when>
      <when test="disNo2 != null">
        and drdis.disNo = #{disNo2,jdbcType=BIGINT}
      </when>
    </choose>
  </select>
  <select id="selectByPtNoAndPayStatusPacketId" resultType="com.ecard.entity.MallOrder">
    select mao.* from
    mallorder mao,redpacketrecord d,redpacketrule e
    where mao.PacketId = d.PacketId and e.PacketId = d.PacketRuleId
    and mao.PacketId = #{packetId,jdbcType=BIGINT}
    and mao.PayStatus = #{payStatus,jdbcType=INTEGER}
    and mao.PtNo = #{ptNo,jdbcType=BIGINT}
  </select>
</mapper>