<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ecard.dao.MrPictureMapper">
  <resultMap id="BaseResultMap" type="com.ecard.entity.MrPicture">
    <id column="MrPictureNo" jdbcType="BIGINT" property="mrPictureNo" />
    <result column="MrPictureAddress" jdbcType="VARCHAR" property="mrPictureAddress" />
    <result column="MedRecordNo" jdbcType="VARCHAR" property="medRecordNo" />
    <result column="CreateUser" jdbcType="BIGINT" property="createUser" />
    <result column="CreateTime" jdbcType="TIMESTAMP" property="createTime" />
    <result column="UpdateUser" jdbcType="BIGINT" property="updateUser" />
    <result column="UpdateTime" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="Version" jdbcType="INTEGER" property="version" />
  </resultMap>
  <sql id="Base_Column_List">
    MrPictureNo, MrPictureAddress, MedRecordNo, CreateUser, CreateTime, UpdateUser, UpdateTime, 
    Version
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from mrpicture
    where MrPictureNo = #{mrPictureNo,jdbcType=BIGINT}
  </select>
  <select id="selectByMedRecordNo" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from mrpicture
    where MedRecordNo = #{medRecordNo,jdbcType=VARCHAR}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from mrpicture
    where MrPictureNo = #{mrPictureNo,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.ecard.entity.MrPicture">
    insert into mrpicture (MrPictureNo, MrPictureAddress, MedRecordNo, 
      CreateUser, CreateTime, UpdateUser, 
      UpdateTime, Version)
    values (#{mrPictureNo,jdbcType=BIGINT}, #{mrPictureAddress,jdbcType=VARCHAR}, #{medRecordNo,jdbcType=VARCHAR}, 
      #{createUser,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, #{updateUser,jdbcType=BIGINT}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{version,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.ecard.entity.MrPicture">
    insert into mrpicture
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="mrPictureNo != null">
        MrPictureNo,
      </if>
      <if test="mrPictureAddress != null">
        MrPictureAddress,
      </if>
      <if test="medRecordNo != null">
        MedRecordNo,
      </if>
      <if test="createUser != null">
        CreateUser,
      </if>
      <if test="createTime != null">
        CreateTime,
      </if>
      <if test="updateUser != null">
        UpdateUser,
      </if>
      <if test="updateTime != null">
        UpdateTime,
      </if>
      <if test="version != null">
        Version,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="mrPictureNo != null">
        #{mrPictureNo,jdbcType=BIGINT},
      </if>
      <if test="mrPictureAddress != null">
        #{mrPictureAddress,jdbcType=VARCHAR},
      </if>
      <if test="medRecordNo != null">
        #{medRecordNo,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null">
        #{version,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ecard.entity.MrPicture">
    update mrpicture
    <set>
      <if test="mrPictureAddress != null">
        MrPictureAddress = #{mrPictureAddress,jdbcType=VARCHAR},
      </if>
      <if test="medRecordNo != null">
        MedRecordNo = #{medRecordNo,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null">
        CreateUser = #{createUser,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        CreateTime = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        UpdateUser = #{updateUser,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        UpdateTime = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null">
        Version = #{version,jdbcType=INTEGER},
      </if>
    </set>
    where MrPictureNo = #{mrPictureNo,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ecard.entity.MrPicture">
    update mrpicture
    set MrPictureAddress = #{mrPictureAddress,jdbcType=VARCHAR},
      MedRecordNo = #{medRecordNo,jdbcType=VARCHAR},
      CreateUser = #{createUser,jdbcType=BIGINT},
      CreateTime = #{createTime,jdbcType=TIMESTAMP},
      UpdateUser = #{updateUser,jdbcType=BIGINT},
      UpdateTime = #{updateTime,jdbcType=TIMESTAMP},
      Version = #{version,jdbcType=INTEGER}
    where MrPictureNo = #{mrPictureNo,jdbcType=BIGINT}
  </update>
</mapper>